<div>
    <h5 class="card-title"><a [routerLink]="['/list']"><i class="text-dark fa fa-arrow-circle-left"></i></a> View item
    <div class="ml-auto" style="float: right"><a [routerLink]="['/list',value,'edit']"><i class="text-dark fa fa-edit"></i></a></div>
    </h5>

    <div *ngIf="message" class="alert alert-success" role="alert">
        {{message}}
    </div>

    <div>
        <div class="form-group">
            <label for="name">Label:</label>{{label}}
        </div>                        
        <div class="form-group">
            <label for="name">Value:</label>
            {{value}}
        </div>                        
        <div class="form-group">
            <label for="name">Minimum Value:</label>
            {{minValue}}
        </div>                        
        <div class="form-group">
            <label for="name">Maximum Value:</label>
            {{maxValue}}
        </div>                        
        <div class="form-group">
            <label for="name">Step:</label>
            {{step}}
        </div>                        
    </div>
</div>
