<div >
        <div>
                <h5 class="card-title">
                    <a [routerLink]="['/list',id,'view']"><i class="text-dark fa fa-arrow-circle-left"></i></a> View item
                </h5>

                <form #editForm="ngForm" novalidate minLessThanMax>
                    <div class="form-group">
                        <label for="name">Value:</label>
                        <input type="text" class="form-control" disabled="disabled" [value]='value.value'/>
                    </div>
                    <div class="form-group">
                        <label for="name">Label:</label>
                        <input type="text" [ngClass]="{'is-invalid' : label.dirty && label.invalid}" class='form-control' name="label"  [(ngModel)]="value.label" #label="ngModel" placeholder="Enter name"
                            required minLength="1" myMaxLength="5" novalidate/>
                        <ng-container *ngIf="label.dirty && label.invalid">
                            <div *ngIf="label.errors.required" class="invalid-feedback">Must not be empty</div>
                            <div *ngIf="label.errors.minlength" class="invalid-feedback">Must be at least 1 character</div>
                            <div *ngIf="label.errors.myMaxLength" class="invalid-feedback">Must be at most 5 characters</div>
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="name">Minimum Value:</label>
                        <input type="text" [ngClass]="{'is-invalid' : editForm.errors?.minLessThanMax || (minValue.dirty && minValue.invalid)}" class='form-control' name="minValue" [(ngModel)]="value.minValue" #minValue="ngModel" placeholder="Enter min value"
                            required isNumeric myMin="10" myMax="1000" novalidate/>
                        <ng-container *ngIf="minValue.dirty && minValue.invalid">
                            <div *ngIf="minValue.errors.required" class="invalid-feedback">Must not be empty</div>
                            <div *ngIf="minValue.errors.isNumeric" class="invalid-feedback">Must be a number</div>
                            <div *ngIf="minValue.errors.myMin" class="invalid-feedback">Must be at least 10</div>
                            <div *ngIf="minValue.errors.myMax" class="invalid-feedback">Must be at most 1000</div>
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="name">Maximum Value:</label>
                        <input type="text" [ngClass]="{'is-invalid' : editForm.errors?.minLessThanMax || (maxValue.dirty && maxValue.invalid)}" class='form-control' name="maxValue" [(ngModel)]="value.maxValue" #maxValue="ngModel" placeholder="Enter max value"
                            required isNumeric myMin="10" myMax="1000" novalidate/>
                        <ng-container *ngIf="maxValue.dirty && maxValue.invalid">
                            <div *ngIf="maxValue.errors.required" class="invalid-feedback">Must not be empty</div>
                            <div *ngIf="maxValue.errors.isNumeric" class="invalid-feedback">Must be a number</div>
                            <div *ngIf="maxValue.errors.myMin" class="invalid-feedback">Must be at least 10</div>
                            <div *ngIf="maxValue.errors.myMax" class="invalid-feedback">Must be at most 1000</div>
                        </ng-container>
                        <div *ngIf="editForm.errors?.minLessThanMax" class="invalid-feedback">Must be more than the minimum</div>
                    </div>
                    <div class="form-group">
                        <label for="name">Step:</label>
                        <input type="text" [ngClass]="{'is-invalid' : step.dirty && step.invalid}" class='form-control' name="step" [(ngModel)]="value.step" #step="ngModel" placeholder="Enter step"
                            required isNumeric myMin="5" myMax="100" novalidate/>
                        <ng-container *ngIf="step.dirty && step.invalid">
                            <div *ngIf="step.errors.required" class="invalid-feedback">Must not be empty</div>
                            <div *ngIf="step.errors.isNumeric" class="invalid-feedback">Must be a number</div>
                            <div *ngIf="step.errors.myMin" class="invalid-feedback">Must be at least 5</div>
                            <div *ngIf="step.errors.myMax" class="invalid-feedback">Must be at most 100</div>
                        </ng-container>
                    </div>

                    <div class="mt-2">
                        <button type="button" href="#" class="btn btn-primary" [disabled]="!editForm.dirty || editForm.invalid" (click)="save()">Save</button>
                        <button type="button" href="#" class="ml-3 btn btn-secondary" (click)="back()">Cancel</button>
                    </div>
                </form>
            </div>
</div>
