<div >
    <div class="row justify-content-center m-4">
        <div class="col-8">
            <div *ngIf="message" class="alert alert-success" role="alert">
                 {{message}}
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <form #profileForm="ngForm" novalidate>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" [ngClass]="{'is-invalid' : name.dirty && name.invalid}" class='form-control' name="name"  [(ngModel)]="profile.name" #name="ngModel" placeholder="Enter name"
                                required minLength="4" myMaxLength="13" novalidate/>
                            <div *ngIf="name.dirty && name.invalid" class="invalid-feedback">Please enter a name with 4 to 13 characters</div>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="text" [ngClass]="{'is-invalid' : email.dirty && email.invalid}" class='form-control' name="email" [(ngModel)]="profile.email" #email="ngModel" placeholder="Enter e-mail"
                                required pattern=".+@.+\..+"/>
                            <div *ngIf="email.dirty && email.invalid" class="invalid-feedback">Please enter a valid e-mail address</div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="profile.allowPhone" name="allowPhone" id="allowPhone">
                            <label class="form-check-label" for="allowPhone">
                                Allow phone calls
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone number</label>
                            <input type="text" [ngClass]="{'is-invalid' : phone.dirty && phone.invalid}"
                                class='form-control' name="phone" [(ngModel)]="profile.phone" #phone="ngModel" placeholder="Enter phone number"
                                [disabled]='!profile.allowPhone'
                                required minlength="3" maxlength="14"/>
                            <div *ngIf="phone.dirty && phone.invalid" class="invalid-feedback">Please enter a valid phone number</div>
                        </div>
                        <div class="form-group">
                          <label for="pwd1">Passwort</label>
                          <input type="password" [ngClass]="{'is-invalid': pwd1.dirty && pwd1.invalid}"
                              class='form-control' name="pwd1" [(ngModel)]="profile.password" #pwd1="ngModel" placeholder="Geben Sie das Passwort ein"
                                 required minlength="3"/>
                          <div *ngIf="pwd1.dirty && pwd1.invalid" class="invalid-feedback">Bitte geben Sie mindestens 3 Zeichen ein.</div>

                          <label for="pwd2">Passwort Wiederholung</label>
                          <input type="password" [ngClass]="{'is-invalid': pwd2.dirty && pwd2.invalid}"
                                 class="form-control" name="pwd2" placeholder="Wiederholen Sie ihr Passwort"
                                 pwd1="{{profile.password}}" required [(ngModel)]="profile.password2" #pwd2="ngModel"/>
                          <div *ngIf="pwd2.dirty && pwd2.invalid" class="invalid-feedback">Die Wiederholung stimmt nicht!</div>

                        </div>
                        <div>
                            name:{{profile | json}}
                            t: {{name.touched}} d: {{name.dirty}} v: {{name.valid}}

                        </div>
                        <div class="mt-2">
                            <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!profileForm.dirty || profileForm.invalid">Save</button>
                            <button type="button" class="ml-3 btn btn-secondary" (click)="cancel()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
